body {
  background-color: #0f0f0f;
  color: white;
}
.video-thumbnail {
  border-radius: 1rem;
  width: 500px;
}

.channel-profile {
  border-radius: 99rem;
  margin-right: 1rem;
}
.video-info {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  margin-top: 1rem;
}
.channel-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

h5,
p {
  margin: 0;
}

.video {
  margin-right: 1rem;
}
.videos {
  display: flex;
}
